
.DS_Store
*.log
*.aux
*.bbl
*.blg
*.brf
*.exa
*.idx
*.ilg
*.ind
*.lof
*.lol
*.lot
*.out
*.toc
*.gz
*.bcf
username.run.xml
username.fdb_latexmk
username.fls
username.pdf
username.synctex.gz
username.pdf
username.pdf
username.synctex.gz
username.pdf
username.bcf
